<div class="main-container">
  <div class="under-construction">
    <img src="../../assets/images/Shirobako.png">

  </div>

    <div class="top-text-header-container">
        <div class="top-text-header">
            <span>Account</span>
        </div>
    </div>

    <div class="account-row" (click)='openLogin($event)'>
        <div>
            <i class="fa fa-user-circle"></i>
            <span>Login</span>
        </div>
        <div>
            <i class="fa fa-chevron-right"></i>
        </div>

    </div>
    <div class="account-row" (click)='openCreateAccount($event)'>
        <div>
            <i class="fa fa-user-circle"></i>
            <span>Create Account</span>
        </div>
        <div>
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
 <div class="app-version-container" style="text-align: center">
  App Version 1.1.2
</div>
</div>
